<p>formfield works!</p>
<div class= "example-container">
    <mat-form-field>
        <input matInput placeholder="Input" [formControl] ="email" required>
        <mat-hint align="start"></mat-hint>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="select">
                <mat-option value="option"> Opciones </mat-option>

            </mat-select>
        </mat-form-field>

</div>
